extends layout

block content
  img(src="http://livegoodinc.com/assets/m0-9b1cfb9b1d29506233191e199b595773.jpg")
  .img-container
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/designer.jpg")
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/designer.jpg")
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/designer.jpg")
