extends layout

block content
  img(src="http://livegoodinc.com/assets/m0-9b1cfb9b1d29506233191e199b595773.jpg")
  .img-container
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/designer.jpg")
      .img-text
      | Good is one of the few companies in the world with access to Organic Supima cotton. Known as the “cashmere of cotton,” Supima’s longer strand length creates the softest and strongest cotton fabric available, retaining brilliant color and lustrous sheen.
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/organic.jpg")
      .img-text
      | The harmful effects of chemical pesticides and fertilizers on human and environmental health have been well documented. Conscientious consumers look for natural products that have undergone rigorous inspection to earn the organic label.
    .col-sm-4.pics
      img(src="http://livegoodinc.com/assets/mission.jpg")
      .img-text
      | To Live Good means to live both sustainably and well. Our pledge is to provide you with the tools and resources to enjoy a lifestyle that honors your own needs as well and those of the planet and the communities in which we live.
