extends layout

block content
  .row.mission-container
    aside.mission-list.col-sm-2
      ul
        li OUR MISSION
        li ORGANIC SUPIMA
        li OUR DYE PROCESS
        li SUSTAINABILITY
        li PRESS
    .col-sm-10.mission-img
      img(src="http://livegoodinc.com/assets/about-us-new.jpg")
      .container-fluid#mission-desc
        .col-sm-3#quotes
          h4.live-good LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:
          h4.treat-yoself How can you take great care of yourself while acting responsibly toward the environment?
        .col-sm-9.description
          | We all want to live a good life — one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance.
          | How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment?
          | We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably, supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you find that state of harmony with nature, with your community, and with yourself.
  hr
