body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.nav-logo {
  margin-top: 20px;
  overflow: auto;
  display: inline-block;
}
.follow-text {
  display: inline-block;
  margin-top: 15px;
}
.follow-cell {
  margin-left: 8px;
  display: inline-block;
}
.follow-container {
  display: inline-block;
  font-size: .8em;
  color: rgb(138, 138, 138);
}
.follow-buttons {
  margin-top: -10px;
  display: inline;
}
.foot-list li {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 15px;
}
.foot-list {
  list-style: none;
  margin-top: 10px;
  font-size: .8em;
  color: rgb(138, 138, 138);
}
.head-list {
  list-style: none;
  padding-top: 20px;
  font-size: 1.1em;
  color: rgb(108, 108, 108);
  margin-top: 0;
}
.head-list li {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.app-container {
  width: 76.4%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-container {
  clear: both;
  margin-top: 40px;
}
.like-img {
  width: 6%;
  margin-left: -6px;
  cursor: pointer;
}
.bottom-container {
  display: inline;
}
.like-text {
  vertical-align: bottom;
  display: inline-block;
  font-size: .75em;
  padding-top: 9px;
}
.copyright {
  font-size: .7em;
  padding-top: 10px;
  color: rgb(138, 138, 138);
}
.shopping-container {
  font-size: .7em;
  color: rgb(138, 138, 138);
}
.bag {
  margin-right: 5px;
  padding-top: 5px;
  display: inline-block;
}
.shop {
  margin-top: -10px;
}
.login{
  padding-top: 5px;
  display: inline-block;
}
#search {
  position: absolute;
  margin-left: 50%;
  margin-top: 10px;
}
.first-pic {
  padding-left: 0;
}
