body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-logo {
  margin-top: 20px;
  overflow: auto;
  display: inline-block;
}
.follow-text {
  display: inline-block;
  margin-top: 15px;
}
.follow-cell {
  margin-left: 8px;
  display: inline-block;
}
.follow-container {
  display: inline-block;
  font-size: .8em;
  color: rgb(138, 138, 138);
}
.follow-buttons {
  margin-top: -10px;
  display: inline;
}
.foot-list li {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 15px;
}
.foot-list {
  list-style: none;
  margin-top: 10px;
  font-size: .8em;
  color: rgb(138, 138, 138);
}
.head-list {
  list-style: none;
  padding-top: 20px;
  font-size: 1.1em;
  color: rgb(108, 108, 108);
  margin-top: 0;
}
.head-list li {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.app-container {
  width: 76.4%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-container {
  clear: both;
  margin-top: 40px;
}
.like-img {
  width: 6%;
  margin-left: -6px;
  cursor: pointer;
}
.bottom-container {
  display: inline;
}
.like-text {
  vertical-align: bottom;
  display: inline-block;
  font-size: .75em;
  padding-top: 9px;
}
.copyright {
  font-size: .7em;
  padding-top: 10px;
  color: rgb(138, 138, 138);
}
.shopping-container {
  font-size: .7em;
  color: rgb(138, 138, 138);
}
.bag {
  margin-right: 5px;
  padding-top: 5px;
  display: inline-block;
}
.shop {
  margin-top: -10px;
}
.login{
  padding-top: 5px;
  display: inline-block;
}
#search {
  position: absolute;
  margin-left: 50%;
  margin-top: 10px;
}
.img-container {
  margin-top: 15px;
  overflow: auto;
}
#pics {
  padding-left: 0;
  padding-right: 0;
  font-size: .8em;
  width: 30%;
  display: inline-block;
}
.mid {
  margin-left: 36px;
  margin-right: 36px;
}
.link-text {
  margin-bottom: 2px;
  color: rgb(52, 131, 98);
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
nav {
  overflow: auto;
}
.mission-container {
  margin-top: 15px;
}
.mission-link {
  color: rgb(108, 108, 108);
}
.mission-list ul {
  list-style: none;
  color: rgb(154, 154, 154);
  border-top: 1px solid rgb(204, 204, 204);
  padding-left: 0;
  cursor: pointer;
}
#quotes {
  padding: 0;
  background-color: #F1EEEC;
}
#mission-desc {
  padding-left: 0;
  margin-top: 10px;
}
